.password {
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 20px 0 10px;
    position: relative;
}

.password:hover .password-buttons {
    opacity: 1;
    scale: 1;
    transition: all 0.5s ease-in-out;
}

.password-buttons button:hover {
    transform: scale(1.15, 1.15);
    transition: all 0.3s linear;
}

.password-buttons button {
    transition: all 0.3s linear;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
}

.password-buttons {
    align-items: center;
    display: flex
}


.password-buttons .close {
    position: absolute;
    top: 10px;
    right: 12px;
    color: #f03838;
}

.password-buttons .edit {
    position: absolute;
    top: 10px;
    right: 32px;
    color: #008000;
}

.password-buttons .copy {
    position: absolute;
    font-size: 15px;
    top: 12px;
    right: 55px;
    color: #926EAE;
}